{
  "presets": [
    "env",
    "es2017",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-async-to-generator",
    "babel-plugin-transform-decorators-legacy",
    "babel-plugin-transform-decorators"
  ]
}